@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: Satoshi-Regular;
  src: url("../../public/fonts/Satoshi-Regular.ttf");
}

@font-face {
  font-family: Satoshi-Medium;
  src: url("../../public/fonts/Satoshi-Medium.ttf");
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("../../public/fonts/Satoshi-Bold.ttf");
}

@font-face {
  font-family: Satoshi-Black;
  src: url("../../public/fonts/Satoshi-Black.ttf");
}

.gradient-text {
  @apply bg-gradient-to-r from-indigo-200 to-yellow-100 bg-clip-text text-transparent;
}

.rotate {
  animation: rotation 2s infinite linear;
}

.animation {
  @apply transition duration-300 ease-in-out;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  scrollbar-width: none;
}

.background {
  flex: none;
  left: calc(50.00000000000002% - 100% / 2);
  overflow: hidden;
  position: absolute;
  top: -43px;
  width: 100%;
  z-index: 0;
}

.img-background-pattern {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: left top;
  object-fit: contain;
  image-rendering: auto;
}

.img-background-overlay {
  display: block;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}

.background-overlay {
  height: 100%;
  opacity: 0.5;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.shadow-overlay {
  background: linear-gradient(
    180deg,
    rgba(11, 14, 15, 0.82) 0%,
    rgba(24, 31, 33, 0) 100%
  );
  bottom: 0;
  flex: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.gradient-seperator {
  align-content: center;
  align-items: center;
  background: radial-gradient(
    50% 10.8% at 47.199999999999996% 50%,
    #ffea4d 0%,
    rgb(11, 14, 15) 100%
  );
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 21px;
  justify-content: center;
  opacity: 0.61;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.badge {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  border-radius: 99px;
  align-items: center;
  margin-bottom: 16px;
  padding: 6px 12px 6px 10px;
  font-size: 14px;
  line-height: 1.8;
  display: flex;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}

.icon-cover {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  align-items: center;
  margin-bottom: 16px;
  padding: 6px 12px 6px 10px;
  font-size: 14px;
  line-height: 1.8;
  display: flex;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}
.card-cover {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  line-height: 1.8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}
.card-cover-two {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.01);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0)
  );
  line-height: 1.8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}
.cl-internal-105jsc1 {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  line-height: 1.8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}
.cl-internal-15amzqo {
  @apply text-neutral-500 hover:no-underline hover:text-neutral-400 animation;
}
.cl-internal-1w67h8a {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  line-height: 1.8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
  @apply rounded-xl w-[23.7rem] mt-5;
}
.cl-internal-10eooxm {
  @apply rounded-md scroll bg-neutral-950 text-neutral-200;
}
.cl-internal-1p383is {
  @apply text-neutral-200 font-satoshi-medium tracking-tight gradient-text;
}
.cl-internal-13zhnx0 {
  @apply text-neutral-400;
}
.card-wrapper {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 128px auto;
  background-image: url(/assets/grain.avif);
  border: 0;
  background-repeat: repeat;
  background-position: left top;
}

.react-flow__controls {
  & button {
    border-radius: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    width: 28px;
    height: 28px;
    @apply card-cover backdrop-blur-sm;
  }
}

.react-flow__controls button:hover {
  background-color: rgba(179, 181, 198, 0.05);
}

.react-flow__controls button svg,
.react-flow__controls button i {
  fill: #c8c8c8;
  width: 15px;
  height: 15px;
}

@layer base {
  @property --pos-x {
    syntax: '<percentage>';
    initial-value: 11.14%;
    inherits: false;
  }

  @property --pos-y {
    syntax: '<percentage>';
    initial-value: 140%;
    inherits: false;
  }

  @property --spread-x {
    syntax: '<percentage>';
    initial-value: 150%;
    inherits: false;
  }

  @property --spread-y {
    syntax: '<percentage>';
    initial-value: 180.06%;
    inherits: false;
  }

  @property --color-1 {
    syntax: '<color>';
    initial-value: #000;
    inherits: false;
  }

  @property --color-2 {
    syntax: '<color>';
    initial-value: #08012c;
    inherits: false;
  }

  @property --color-3 {
    syntax: '<color>';
    initial-value: #4e1e40;
    inherits: false;
  }

  @property --color-4 {
    syntax: '<color>';
    initial-value: #70464e;
    inherits: false;
  }

  @property --color-5 {
    syntax: '<color>';
    initial-value: #88394c;
    inherits: false;
  }

  @property --border-angle {
    syntax: '<angle>';
    initial-value: 20deg;
    inherits: true;
  }

  @property --border-color-1 {
    syntax: '<color>';
    initial-value: hsla(340, 75%, 60%, 0.2);
    inherits: true;
  }

  @property --border-color-2 {
    syntax: '<color>';
    initial-value: hsla(340, 75%, 40%, 0.75);
    inherits: true;
  }

  @property --stop-1 {
    syntax: '<percentage>';
    initial-value: 37.35%;
    inherits: false;
  }

  @property --stop-2 {
    syntax: '<percentage>';
    initial-value: 61.36%;
    inherits: false;
  }

  @property --stop-3 {
    syntax: '<percentage>';
    initial-value: 78.42%;
    inherits: false;
  }

  @property --stop-4 {
    syntax: '<percentage>';
    initial-value: 89.52%;
    inherits: false;
  }

  @property --stop-5 {
    syntax: '<percentage>';
    initial-value: 100%;
    inherits: false;
  }
}

@layer components {
  .gradient-button {
    @apply relative appearance-none cursor-pointer;
    background: radial-gradient(
      var(--spread-x) var(--spread-y) at var(--pos-x) var(--pos-y),
      var(--color-1) var(--stop-1),
      var(--color-2) var(--stop-2),
      var(--color-3) var(--stop-3),
      var(--color-4) var(--stop-4),
      var(--color-5) var(--stop-5)
    );
    transition:
      --pos-x 0.5s,
      --pos-y 0.5s,
      --spread-x 0.5s,
      --spread-y 0.5s,
      --color-1 0.5s,
      --color-2 0.5s,
      --color-3 0.5s,
      --color-4 0.5s,
      --color-5 0.5s,
      --border-angle 0.5s,
      --border-color-1 0.5s,
      --border-color-2 0.5s,
      --stop-1 0.5s,
      --stop-2 0.5s,
      --stop-3 0.5s,
      --stop-4 0.5s,
      --stop-5 0.5s;
  }

  .gradient-button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      var(--border-angle),
      var(--border-color-1),
      var(--border-color-2)
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-button:hover {
    --pos-x: 0%;
    --pos-y: 91.51%;
    --spread-x: 120.24%;
    --spread-y: 103.18%;
    --color-1: #c96287;
    --color-2: #c66c64;
    --color-3: #cc7d23;
    --color-4: #37140a;
    --color-5: #000;
    --border-angle: 190deg;
    --border-color-1: hsla(340, 78%, 90%, 0.1);
    --border-color-2: hsla(340, 75%, 90%, 0.6);
    --stop-1: 0%;
    --stop-2: 8.8%;
    --stop-3: 21.44%;
    --stop-4: 71.34%;
    --stop-5: 85.76%;
  }

  .gradient-button-variant {
    --color-1: #000022;
    --color-2: #1f3f6d;
    --color-3: #469396;
    --color-4: #f1ffa5;
    --border-angle: 200deg;
    --border-color-1: hsla(320, 75%, 90%, 0.6);
    --border-color-2: hsla(320, 50%, 90%, 0.15);
  }

  .gradient-button-variant:hover {
    --pos-x: 0%;
    --pos-y: 95.51%;
    --spread-x: 110.24%;
    --spread-y: 110.2%;
    --color-1: #000020;
    --color-2: #f1ffa5;
    --color-3: #469396;
    --color-4: #1f3f6d;
    --color-5: #000;
    --stop-1: 0%;
    --stop-2: 10%;
    --stop-3: 35.44%;
    --stop-4: 71.34%;
    --stop-5: 90.76%;
    --border-angle: 210deg;
    --border-color-1: hsla(320, 75%, 90%, 0.2);
    --border-color-2: hsla(320, 50%, 90%, 0.75);
  }
}
